
:root {

    --primary-lightest: #E3EFFB;
    --primary-lighter: #8EC1EE;
    --primary-ligth: #56A1E6;
    --primary-main: #2082DB;
    --primary-dark: #1861A4;
    --primary-darker: #10416E;
    --primary-darkest: #EEEEEE;

    --secondary-lightest: #E9F8F1;
    --secondary-lighter: #BDECD4;
    --secondary-ligth: #7BD8AA;
    --secondary-main: #4FCB8D;
    --secondary-dark: #30A36A;
    --secondary-darker: #206D47;
    --secondary-darkest: #081B12;

    --grey-1-white: #FFFFFF;
    --grey-2:   #FAFAFA;
    --grey-3:   #EEEEEE;
    --grey-4:   #DDDDDD;
    --grey-5:   #AAAAAA;
    --grey-6-middle:   #808080;
    --grey-7:   #666666;

    --cover-red-ligth: #FEF4F4;
    --cover-red-main: #F6A8A6;
    --cover-red-dark: #F17A77;
    
    --cover-orange-ligth: #FEF9F4;
    --cover-orange-main: #F4CDA6;
    --cover-orange-dark: #EEB378;
    
    --cover-yellow-ligth: #FEFBEF;
    --cover-yellow-main: #F9F0C1;
    --cover-yellow-dark: #F4E48F;

    --cover-green-ligth: #F7FDF9;
    --cover-green-main: #C0ECCC;
    --cover-green-dark: #97E0AB;

    
    --cover-blue-ligth: #F4F8FC;
    --cover-blue-main: #A5C8E4;
    --cover-blue-dark: #7FB1D9;

    
    --cover-purple-ligth: #F8F4FC;
    --cover-purple-main: #C8A5E4;
    --cover-purple-dark: #B17FD9;

   
    --cover-pink-ligth: #B17FD9;
    --cover-pink-main: #F1B8E8;
    --cover-pink-dark: #E88CDA;
    
    --cover-gray-ligth: #F7F7F7;
    --cover-gray-main: #BBBBBB;
    --cover-gray-dark: #A4A4A4;
}

